@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Attendance Management System </h1>
    <p class="lead">We are good to go!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Departments", "Index", "Departments")</h2>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Teachers", "Index", "Teachers")</h2>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Subjects", "Index", "Subjects")</h2>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Students", "Index", "Students")</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    </div>

</div>